body{
    font-family: Verdana, Tahoma, sans-serif;
}
.body{
    background-color: #ffff99;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.text{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    text-align: center;
    color: red;
    font-size: 250%
}
h3{
    text-align: center;
}
img{
    width: 30%;
}
.underrubrik{
    font-size:x-large;
    background-color: red;
    font-weight: bold;
}
.greenbg{
    background-color: lime;
}
.taggar{
    font-weight: bold;
    font-size: 135%;
}
.css{
    background-color: lime;
    font-size: small;
}
.links{
    color: grey;
    font-size: larger;
}
.favcolour{
    margin-left: 30px;
    font-size: small;
}
hr{
    width: 50%;
    margin-left: 0;
    border-width: 2px;
}